.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
}

.timestamp {
}

.icon {
}

.pizza-info {
}

.pizza-info > h3 {
  color: #000000;
}
